[Desktop Entry]
Encoding=UTF-8
Name=Link to FAQ · tesseract-ocr/tesseract Wiki · GitHub
Type=Link
URL=https://github.com/tesseract-ocr/tesseract/wiki/FAQ#what-output-formats-can-tesseract-produce
Icon=text-html
