[Desktop Entry]
Encoding=UTF-8
Name=Link to command line - How to programmatically determine DPI of images in PDF file? - Ask Ubuntu
Type=Link
URL=https://askubuntu.com/questions/760993/how-to-programmatically-determine-dpi-of-images-in-pdf-file/1028209#1028209
Icon=text-html
Name[en_US]=Link to command line - How to programmatically determine DPI of images in PDF file? - Ask Ubuntu%%%%%
