[Desktop Entry]
Encoding=UTF-8
Name=Link to hocr-tools/README.md at master · tmbdev/hocr-tools
Type=Link
URL=https://github.com/tmbdev/hocr-tools/blob/master/README.md
Icon=text-html
Name[en_US]=Link to hocr-tools/README.md at master · tmbdev/hocr-tools%%%%%
