[Desktop Entry]
Encoding=UTF-8
Name=Link to pdfimages(1) — poppler-utils — Debian testing — Debian Manpages
Type=Link
URL=https://manpages.debian.org/testing/poppler-utils/pdfimages.1.en.html
Icon=text-html
Name[en_US]=Link to pdfimages(1) — poppler-utils — Debian testing — Debian Manpages%%%%%
