[Desktop Entry]
Encoding=UTF-8
Name=Link to software recommendation - Extracting embedded images from a PDF - Ask Ubuntu
Type=Link
URL=https://askubuntu.com/questions/150100/extracting-embedded-images-from-a-pdf/1187844#1187844
Icon=text-html
Name[en_US]=Link to software recommendation - Extracting embedded images from a PDF - Ask Ubuntu%%%%% [MY OWN ANS!]
