[Desktop Entry]
Encoding=UTF-8
Name=Link to tmbdev/hocr-tools: Tools for manipulating and evaluating the hOCR format for representing multi-lingual OCR results by embedding them into HTML.
Type=Link
URL=https://github.com/tmbdev/hocr-tools
Icon=text-html
