[Desktop Entry]
Encoding=UTF-8
Name=Link to Using Tesseract - Introduction to OCR and Searchable PDFs - LibGuides at University of Illinois at Urbana-Champaign
Type=Link
URL=http://guides.library.illinois.edu/c.php?g=347520&p=4121426
Icon=text-html
